.paper{
	  margin-top: 65px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    padding:15px;
}

.form {
    width: '100%';
    margin-top: 24px;
  }

.class222 {
  color: red;
  background-color: blue;
 }

 .submit {
    margin-top: 3,
  }


body {
      background-color: white !important;
      

}

.MuiSelect-select{
  min-width: 333px !important;
}
  